div{
    Width: 100vw;
    margin-bottom: 10px;
    margin-top: 40px;
}
.partname {
    font-size: 30px;
    font-weight: bold;
}
table {
    border: solid;
    border-color: black;
    border-width: medium;
    margin-bottom: 10px;
    margin-top: 10px;
}
tr{
    border: solid;
    border-color: black;
    border-width:thin;
}
td{
    border: solid;
    border-color: black;
    border-width:thin;
}
ol {
    counter-reset: item
}
li {
    display: block;
    font-size: 20px;
    font-weight: bold;
}
p{
    font-size: 16px;
    font-weight:normal;
}
li:before {
    content: counters(item, ".") " - ";
    counter-increment: item
}