div{
    Width: 100vw;
    margin-bottom: 10px;
    margin-top: 40px;
}
table {
    border: solid;
    border-color: black;
    border-width: medium;
    margin-bottom: 10px;
    margin-top: 10px;
}
tr{
    border: solid;
    border-color: black;
    border-width:thin;
}
td{
    border: solid;
    border-color: black;
    border-width:thin;
}
ol {
    counter-reset: item
}
li {
    display: block
}
li:before {
    content: counters(item, ".") " - ";
    counter-increment: item
}